

:root{

    --basepanel: #2f2f4f;
    --bevelshaddow: #191970;
    --bevelhighlight: #dcdcdc;
   

    --baselight: #3cb371;
    --lightwarm: #7cfc00;
    --lightreflect: #7fffd4;

    --button:#b8869b;
}







header{
  grid-area: header;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    flex-grow: 1;
    border: 3px solid rgb(216, 19, 150);
   
}


.basepannel{
  display: grid;
   background-color: var(--basepanel); 
   border: 3px solid var(--bevelshaddow);
   height:auto;
  min-height:100%;
  left:50%;
  
  top:50%;
  width:auto;
  min-width:100%;

  grid-template-columns: 10% 15%  auto  15% 10% ;
  grid-template-rows: 10% auto 10%;
  grid-template-areas:
  ". . . . header"
  ". s1 main s2 . "
  ". foot foot foot . ";

}


.glowtext{
display:flex;
align-content: center;
justify-content: center;
  color: rgb(67, 187, 97);
  text-shadow:
    0 0 7px rgb(255, 255, 255),
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 120px #0fa;
}
.battlenamebutton{
  min-height: 30%;
}
.battlebox {
  display: grid;
  grid-area: main;
  width:auto;
  min-width:100%;

  grid-template-columns: 10% 15%  auto  15% 10% ;
  grid-template-rows: 10% 10% 70% 10%;
  grid-template-areas:
  ". . t . ."
  ". . up . ."
  ". bb bb bb . "
  ". . down . .";
}

.wherebuttonsgo {
  grid-area: bb;
  
}
.title{
  grid-area: t;
  display:flex;
  align-items:center;
  justify-content: center;
}
.wherebuttonsgo > div{
  display:flex;
  flex-direction: column ;
  min-height: 100%;
}
.wherebuttonsgo button{
  margin-bottom: 40px ;
  /* min-height: 150px; */
  flex-grow: 1;
}
.up{
  grid-area: up;
  display:flex;
  align-items:center;
  justify-content: center;
}
.down {
  grid-area: down;
  display:flex;
  align-items:center;
  justify-content: center;
}

.order {
  display: grid;
  grid-area: main;
  width:auto;
  min-width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding:20px;
  /* grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10% ;
  grid-template-areas:
  "t " 
  " ob "
  "b" */
}
.sb{
  grid-area: b;
}
.sortbox{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
}
.card {
  margin:10px;
  /* min-width:200 px; */
  padding: 2px;
  width: 200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:var(--lightreflect);
 
  border: 3px solid var(--bevelshaddow);
   
} 
.p3{
  grid-template-columns: 15% 20%  auto   10% ;
  grid-template-rows: 10% auto 10%;
  grid-template-areas:
  ". .  . header"
  ". sidebar active . "
  " foot foot  foot foot ";
  background-color: var(--basepanel); 
  border: 3px solid var(--bevelshaddow);
}


.turnbox{
  grid-area: s1;
}